/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

/*---------------------------------Modification edit mode ---------------------------*/
.bannerEdit{
	background-color: black;
	display: none;
	align-items: center;
	justify-content: center;
	height: 59px;
	margin: 0px;
	width: 300%;
	margin-left: calc(-1vh - 100%);

}
.bannerEdit p{
	color: white;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
	
}
.bannerEdit button{
	display: flex;
	background-color: black;
	gap: 20px;
	border: none;
}
.bannerEdit i{
	color: white;
	font-size: 15.58px;
}

.titreLoginProjet{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-left: 20px;
	margin-bottom: 50px;
	padding-top: 50px;
}
.modify{
	background-color: white;
	border: none;
	margin-bottom: 1em;
}
.modify i{
	font-size: 15px;
	color: black;
}


/*-------------------------------------------------------------------------*/

#headMenu {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}
nav a{
	text-decoration: none;
	color: black;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#filters{
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}
#filters li{
	min-width: 50px;
	border: solid #1D6154 1px;
	border-radius: 20px;
	padding:5px 8px 5px 8px;
	display: flex;
	justify-content: center;
	color: #1D6154;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}
#filters li:hover{
	color: white;
	background-color: #1D6154;
}
#filters li.active {
    color: white;
    background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
h3{
	margin-top: 5px;
	font-size: 13px;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


#login {
	width: 50%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 200px;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}

#loginButton {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}
.forgetPassword{
	text-decoration: underline;
	text-underline-offset: 2px;
}
.erreurEmail{
	color: red;
	font-weight: bold;
	margin-top: 10px;
	display: none;
}
.erreurMotdepasse{
	color: red;
	font-weight: bold;
	margin-top: 10px;
	display: none;
}